html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(200, 26, 26);
}
.container {
  min-height: 10rem;
  max-width: 70rem;
  margin: auto;
  background-color: #fff;
  padding: 1rem;
}
#pageheader {
  background-color: rgb(41, 181, 246);
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: rgb(186, 186, 186);
  background-image: url(Images/portfoliologo.psd);
  background-position: center;
  background-size: cover;
}
#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
}
#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  background-color: #999999;
  margin: 2px;
}
#pageheader nav ul li:hover {
  background-color: #d3d3d3;
}
#media {
  background-color: rgb(140, 142, 140);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/Firefly_make\ me\ a\ futuristic\ city\ with\ the\ colors\ baby\ blue\ and\ gray\ 893343.jpg);
  background: cover;
  aspect-ratio: 16/9;
}
#career {
  background-color: rgb(46, 46, 46);
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: rgb(102, 104, 104);
  min-height: 10rem;
  padding: 1rem;
}

blockquote {
  background-color: none;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: bold;
}

blockquote + span {
  background-color: none;
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
}

#semester1 {
  background-color: rgb(65, 65, 65);
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: teal;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: dimgrey;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: #4c4a4a;
  padding: 1rem;
  min-height: auto;
}
#aifooter .container {
  text-align: center;
  min-height: auto;
}
#subfooter {
  background-color: rgb(131, 131, 131);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  display: block;
  margin: auto;
  background-color: rgb(3, 105, 3);
  border: 5px solid rgb(3, 105, 3);
}
@media screen and (min-width: 850px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: red;
  }

  #career {
    background-color: blue;
  }
}

@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: blue;
  }
  #career {
    background-color: red;
  }
}
