/* This a CCS moment */
/* ? question-----*/
/* * alert comment*/

body{
    background-color: lightblue;
}
h1 {
    color: darkred;
    background-color: white;
    padding: 1em;
}
ul {
    font-family: 'Courier New', Courier, monospace;
 }